{% extends 'costs_records/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Cost</legend>
            {{ cost_form.customer|as_crispy_field }}
            {{ cost_form.supplier|as_crispy_field }}
            <a href="{% url 'add-company' %}" class="btn btn-outline-success" type="button">Add customer/supplier</a>
            <p></p>
            {{ cost_form.cost_description|as_crispy_field }}
            {{ cost_form.payment_date|as_crispy_field }}
            <p></p>
            <a>If you already have invoice, fill form below</a>
            <p></p>
            {{ invoice_form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Add Cost</button>
        </div>
    </form>
</div>
{% endblock %}