{% extends 'costs_records/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <h2><a class="article-title" href="#">Cost Detail</a></h2>
                     <div class="row">
                        <div class="col-md-3 mb-3">
                            <div>
                                <a href="{% url 'update-cost' pk=object.pk %}" class="btn btn-outline-success" type="button">Update Cost</a>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <a href="{% url 'copy-cost' pk=object.pk %}" class="btn btn-outline-primary" type="button">Copy Cost</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="category">Category</label>
                                <input class="form-control" id="category" type="text" placeholder="{{ object.category }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">Cost Unique Id</label>
                                <input class="form-control" id="first_name" type="text" placeholder="{{ object.uid}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Created Date</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.created_date }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="customer_name">Customer Name</label>
                                <input class="form-control" id="customer_name" type="text" placeholder="{{ object.customer.name}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Supplier Name</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.supplier.name }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="last_name">Cost Description</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.cost_description }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="last_name">Estimated Cost</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.estimated_cost }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="last_name">Is Paid</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.paid }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="last_name">Payment Date</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.payment_date }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Invoice -->
                <div class="card-body">
                    <h2><a class="article-title" href="#">Invoice Detail</a></h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">Invoice Number</label>
                                <input class="form-control" id="first_name" type="text" placeholder="{{ object.invoice.number}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Invoice Date</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.invoice.date }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="first_name">Nett Amount</label>
                                <input class="form-control" id="first_name" type="text" placeholder="{{ object.invoice.net_amount}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="last_name">Gross Amount</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.invoice.gross_amount }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div>
                                <label for="last_name">VAT Rate</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.invoice.vat_rate }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div>
                                <label for="last_name">Currency</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.invoice.currency }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="first_name">PLN Nett Amount</label>
                                <input class="form-control" id="first_name" type="text" placeholder="{{ object.invoice.pln_net_amount}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="last_name">PLN Gross Amount</label>
                                <input class="form-control" id="last_name" type="text" placeholder="{{ object.invoice.pln_gross_amount }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Invoice -->>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="col-12">
                <div class="card card-body border-0 shadow mb-4">
                    {% if object.invoice.file %}
                    <iframe src="{{ object.invoice.file.url }}" type="application/pdf" style="height:918px"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}