{% extends 'costs_records/base.html' %}
{% load static %}
{% block content %}
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0 rounded-start">ID</th>
                            <th class="border-0">UDI</th>
                            <th class="border-0">CREATED DATE</th>
                            <th class="border-0">CUSTOMER</th>
                            <th class="border-0">SUPPLIER</th>
                            <th class="border-0">COST DESCRIPTION</th>
                            <th class="border-0">INVOICE NUMBER</th>
                            <th class="border-0">GROSS PLN</th>
                            <th class="border-0">NET PLN</th>
                            <th class="border-0">PAID</th>
                            <th class="border-0">PAYMENT DATE</th>
                            <th class="border-0">ASAP</th>
                            <th class="border-0 rounded-end">URGENT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for cost in costs %}
                        <tr>
                            <td> {{ cost.id }}</td>
                            <td> {{ cost.uid }}</td>
                            <td> {{ cost.created_date }}</td>
                            <td> {{ cost.customer.name }}</td>
                            <td> {{ cost.supplier.name }}</td>
                            <td> {{ cost.cost_description }}</td>
                            <td> {{ cost.invoice.number }}</td>
                            <td> {{ cost.invoice.pln_gross_amount }}</td>
                            <td> {{ cost.invoice.pln_net_amount }}</td>
                            <td> {{ cost.paid }}</td>
                            <td> {{ cost.payment_date }}</td>
                            <td> {{ cost.asap }}</td>
                            <td> {{ cost.urgent }}</td>
                        <!-- End of Item -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}